@font-face {
  font-family: 'HsBombaram21';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/HSBombaram21-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Seongang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SOGANGUNIVERSITYTTF.woff2')
    format('woff2');
  font-weight: normal;
  font-display: swap;
}

@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard), sans-serif;
}

.bombaram {
  font-family: 'HsBombaram21', sans-serif;
}

.cheo {
  font-family: 'HsBombaram21', sans-serif;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -1%;
}

.bg-base {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
}

.bg-main {
  background-image: url('/icons/main-screen.svg');
}

.bg-deepsea {
  background-image: url('/icons/deepsea.svg');
}

.bg-home {
  background-image: url('/icons/home-bg.svg');
}

.subtitle-24m {
  font-family: var(--font-pretendard), sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 170%;
  letter-spacing: -1%;
}

.caption-14 {
  font-family: var(--font-pretendard), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: -1%;
}

.seogang-36 {
  font-family: 'Seongang', sans-serif !important;
  font-size: 36px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: center;
}
